.wrapper {
  height: 100vh;
  background-size: cover;
  background-image: url('/img/auth-bg.jpg');
  display: flex;
  justify-content: end;

}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  width: 450px;
  padding: 30px;
  border-radius: 0;
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  text-align: center;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 20px;
}
